{% extends "todo/base.html" %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1 class="acco">ACCOMPLISH MORE EVERY DAY</h1>
                 <br>
                 <br>
            <p>Life can feel overwhelming, but it doesn't have to. <br> Keep track of everything in one place with Checkmate.</p>
        
        <div class="end">Organize your life, work & schedule.</div>
        <br><br>
            <a role="button" class="btn btn-lg btn-primary btn-lg" href="{% url 'signupuser' %}">Get Started - It's Free!</a>
            <br> <br><br>
            <h6>Made by Saumya :)</h6>
        </div>
        <br>
        <br>
        
    </div>
    
{% endblock %}
